@font-face {
    font-family: MYRIADPRO;
    src: url(fonts/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: MYRIADPRO-BOLD;
    src: url(fonts/MYRIADPRO-BOLD.OTF);
}
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}
body{
	font-size: 16px;
	color: #989898;
	font-family: Roboto;
}


/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
    display: none;
}
ul{
	list-style: none;
}
a{
	color: #333;
}
a:hover{
	cursor: pointer;
}
ul.simple-post-list .post-image {
	float: left;
	margin-right: 12px;
}
ul.simple-post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.callout-box{
	background-color: #546489;
	color: #fff;
	padding: 10px 20px;
}
.body-title{
	border: 1px solid #e3e3e3;
	border-left: 5px solid #234383;
	padding: 0 20px 20px;
}
.featured-box{
	border: 1px solid #e3e3e3;
	border-top: 5px solid #234383;
	padding: 0 20px 20px;
}
.breadcrumbs {
position: relative;
border-bottom: 1px solid #E5E5E5;
background-color: #F5F5F5;
}
.breadcrumb{
	margin-bottom: 0;
}
.cart-btn{
	border-radius:0;
}
.navbar {
	border-radius: 0;
	
/*background: #438EB9;
color: #fff;border: 0;*/

}
/* Removed width:auto from navbar-collapse classs; */
.navbar-collapse {
border-top: 0;
box-shadow: none;
}
.navbar .navbar-brand {
/*color: #FFF;
font-size: 24px;
text-shadow: none;
padding-bottom: 10px;*/
}
.form-group-addon{
	padding-left: -20px;
}



.logo{
	float: left;
}
.pro-box{
	float: right;
	font-size: 15px;
	color: #989898;
}
.pro-box p{
	margin: 40px 0px 0px 0px;
}
.pro-box a{
	color:#0053a8;
}
.underline{
	width: 100%;
	height: 22px;
	background: #eeeeee;
	border-bottom: 8px solid #ebb730;
	margin-top: 15px;
}
.header{
	
	font-size: 23px;
}
.blue{
	color: #40708d;
}
.center{
	text-align: center;
}
.btn-gold{
	background-color: #ebb730 !important;
	color:#fff;
	border-radius: 0px !important;
	border: none !important;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 20px;
}
.btn-center{
	display: block;
	margin:0px auto;
}
.loginForm{
	width:300px;
	margin:40px auto;
}
.loginForm input{
	background: #fbfafa;
	text-align: center;
	border: 1px solid #e0e0e0;
	border-radius: 0px !important;
	font-family: "MYRIADPRO";
}

.footer{
	background: #eeeeee;
	text-align: center;
	border-top:1px solid #d6d6d6;
	margin-top: 20px;
}
.footer p{
	padding:10px 0px;
	font-size: 12px;
	color: #989898;
}
.footer a{
	color: #172788;
}
.login h4{
	margin-top: 20px;
}

/* Dashboard */
.admin_menu {
	background: #efefef;
	border-bottom: 1px solid #d6d6d6;
	overflow: hidden;
}
.admin_menu ul{
	margin: 0px;
	padding:0px;
	overflow: hidden;
}
.admin_menu ul li.setting{
	float: right;
	border-right: none !important;
	border-left:1px solid #d6d6d6;
}
.admin_menu ul li{
	float: left;
	padding: 10px 15px;
	border-right:1px solid #d6d6d6;
}
.admin_menu ul li img{
	padding-right: 5px;
}
.admin_menu ul li a{
	text-decoration: none;
	color: #989898;
	display: block;
	font-size: 15px;
}
.admin_menu ul li:hover{
	background: #e4e3ab;
}
.admin_menu ul li:hover a{
	color: #212121;
}


.gray-box{
	background: #f8f8f8;
	border: 1px solid #eeeeee;
	padding: 10px 15px;
}
.gray-box p{
	color:#000;
	padding: 0px;
	font-size: 12px;
}
.gray-box h5{
	color:#000;
	font-size: 35px;
	margin: 0px;
	padding: 0px;
}
.container{
	max-width: 940px;
}
.summary{
	margin-top: 40px;
	font-family: Roboto;
}
.summary h4{
	font-size: 18px;
	color: #989898;
}

.recent{
	margin-top: 40px;
	font-size: 12px;
}
.recent h4{
	font-size: 14px;
	color: #989898;
}
.recent .item{
	overflow: hidden;
	margin-bottom: 10px;
}
.recent .item img{
	float: left;
	padding-right:15px;
}
.recent .item .info p{
	margin: 0px;
}
.recent .item .info strong{
	color:#2d2d2d;
}
.recent .item .info p.datetime{
	font-style: italic;
	font-size: 11px;
}


.feedback_menu li.active{
	background: #ebb730;
	
}
.feedback_menu li:hover{
	background: #ebb730 !important;
}
.feedback_menu li.active a{
	color: #fff !important;
}
.feedback_menu li:hover a{
	color: #fff !important;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
.drop-box{
	background: #efefef;
	
	color: #9b9b9b;
	font-style: italic;
	font-size: 15px;
	font-family: Arial;
	border: 1px solid  #e0e0e0;
	padding: 20px 0px;
}
.drop-box button{
	margin: 0 auto;
    display: block;
    border: none;
    background: #7f7f7f;
    color: #fff;
}
.dragover{
	border: 1px dashed  #ebb730;
}
.list_attach{
	margin: 0px;
	padding:0px;
}
.btn_select{
	margin: 0 auto;
    display: block;
    border: none;
    background: #7f7f7f;
    color: #fff;
    width: 96px;
    padding: 3px;
    cursor: pointer;
}
.feedbackForm{
	margin: 20px 0px;
}
.feedbackForm input,.feedbackForm textarea{
	background: #fbfafa;
	border-radius:0px;
	border:1px solid #e0e0e0;
	color: #a8a8a8;
}
.feedbackForm textarea{
	height: 160px;
}
input.radio, input.checkbox{
	border: none !important;
	width: 15px;
    height: 15px;
    display: inline-block;
    background: transparent !important;
    box-shadow: none !important;
    min-height: 24px !important;
}

.raido_box input{
	float: left;
}
.raido_box span{
	float: left;
	padding-left: 5px;
	padding-right: 10px;
}
.remove_file{
	float: right;
	color:#555555;
	font-weight: bold;
	line-height: 18px;
}
.remove_file:hover{
	color: #ebb730 !important;
}
.list_attach .progress{
	float:right;
	width: 100px;
}
.progess{
	float: right;
	padding: 0px 15px;
	color: #1369a6;
}
.list_attach li{
	padding:10px 10px 0px 10px;
}
select.form-control{
	background: #fbfafa;
    border-radius: 0px;
    border: 1px solid #e0e0e0;
    color: #a8a8a8;
}

.last_feedback{
	background: #f8f8f8;
	padding: 0px 20px 20px;
    margin-top: 20px;
    border: 1px solid #e0e0e0;
}
.last_feedback h3{
	color: #40708d;
	font-size: 23px;
}
.feedback-item{
	 border-bottom: 1px solid #e0e0e0;
	 padding-bottom: 10px;
    margin-bottom: 15px;
}
.feedback-item a{
	color: #555;
	text-decoration: none;
}
ul.feedback_toolbar{
	margin-bottom:10px!important;
	padding: 0px;
}
ul.feedback_toolbar li{
	list-style:none;
	display:inline-block;
	padding-right:10px;}
ul.feedback_toolbar li img{
	display:inline-block!important;
	margin-top: -4px;
}

.fb_viewall{
	background-color: #ebb730 !important;
    color: #fff;
    border-radius: 0px !important;
    border: none !important;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration:none !important;
    display: inline-block;
    margin-top: 10px;
}
.last_feedback a.fb_viewall:hover{
	color: #fff !important;
}
.grey-box h3{
	color: #40708d;
}

.filter{
	font-family: Roboto;
	font-size:13px;
	border-bottom: 1px solid #ededed;
    overflow: hidden;
}
.text_fillter{
	display: block;
    line-height: 34px;
}
.filter select.form-control{
	border: none !important;
	background: #fff !important;
	box-shadow:none !important;
	border-left: 1px solid #ededed !important;
	font-size: 13px;
	font-family: Roboto;
}
.filter .col-link{
	border-left: 1px solid #ededed !important;
	border-right: 1px solid #ededed !important;
}
.filter .col-search{
	padding-left: 0px !important;

}
.filter input{
	width: 100%;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background: url(../images/search.png) no-repeat right center;
    transition:none !important;
}
.filter .col-link a{
	color:#bebebe;
	text-decoration: none;
}
.allfeedbacks h3{
	font-size:23px;
	color: #40708d;
	margin-bottom: 20px;
}
.allfeedbacks{
	font-family: Roboto;
}
.allfeedbacks .datetime{
	font-size: 11px !important;
	font-style: italic;
}
.fb-item{
	overflow: hidden;
	margin-bottom: 15px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 15px;
}
.fb-item img{
	float:left;
	margin-right: 10px;
}
.fb-item .fb-info{
	float: left;
}
.fb-item p{
	margin: 0px;
}
.fb-item p.subject{
	font-size: 12px;
}
a.button{
	background: #ebb730;
	color: #fff;
	font-size: 16px;
	font-family: MYRIADPRO;
	text-decoration: none;
	padding: 10px 15px;
	display: inline-block;

}
a.disabled{
	display: none;
}
.allfeedbacks a.button{
	margin: 10px 0px;
 }
.fb-header{overflow: hidden;    margin-bottom: 10px;}
 .fb-check{
 	display: inline-block;
 	width: 20px;
 	box-shadow: none !important;
 	float: left;
 	margin-right: 15px !important;
 	margin: 3px 14px !important;
 }
 .fblists{
 	font-family: Roboto;
 	font-size: 12px;
 }
 .fb-name {
 	color: #000;
 }
 .datetime{
 	font-size:11px;
 	font-style: italic;
 }
 .fb-uinfo{
 	float: right;
 }
 .fb-links{
 	background:#f8f8f8;
 	overflow: hidden;
 	margin: 0px;
 	padding: 0px;
 	border: 1px solid #eeeeee;
 	border-left: none !important;
 }
 .fb-links li{
 	 display: inline-block;
 	 border-left: 1px solid #eeeeee;
 	 padding: 12px 20px;
 }
  .fb-links li a{
  	color: #000;
  }
  .check-all{
  	background:#f8f8f8;
  	float: left;
  	border: 1px solid #eeeeee;
  	margin-right: 10px;
  }
  
  .fb-checkitem{
  	float: left;
  	margin-right: 10px;
  }
  .fb-header-title{
  	overflow: hidden;
  }
  .fb-header-title h4{
  	float: left;
  }
  .fb-header-title .control_bar{
  	float: right;
  	margin-top: 15px;
  }
  .col-text-search{
  	border-right: 1px solid #ededed;
  }
  .anon_filter{
  	color: #666666;
    margin-bottom: 15px;
    background: #f6f6f6;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
  }
  .anon_filter:hover{
  	text-decoration: none;
  }
  .col-filter select{
  	margin-bottom: 15px;
  }