<div class="row">
        <div class="admin_menu feedback_menu">
            <ul>
                <li><a href="#anonymous">Anonymous</a></li>
                <li><a href="#department">By Deparment</a></li>
                <li  class="active"><a href="#agency">By Agency Goal</a></li>
            </ul>
        </div>
</div>  

<div class="page-content home">

<div class="row">
<div class="space-6"></div>
<div class="col-sm-12 ">
         <div class="col-sm-7">
                <form name="feedbackForm" class="form-horizontal feedbackForm" role="form">
                    
                    <input type="hidden" name="name" ng-model="inp.type" ng-init="inp.type=3" value="3" />
                    <div class="form-group">
                       
                        <div >
                           <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="YOUR NAME" name="name" ng-model="inp.name" required />
                            </span>
                        </div>
                    </div>
                      <div class="form-group">
                       
                        <div >
                           <span class="block input-icon input-icon-right">
                                 <select name="cat_id" ng-init="inp.cat_id=''" 
  ng-model="inp.cat_id" class="form-control" required>
                                  <option value="" selected="selected">SELECT AGENCY</option>
                                  <option ng-repeat="f in categories.agency" value={{f.id}}>{{f.name}}</option>
                                  
                                 </select>
                               
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                       
                        <div >
                           <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="ENTER SUBJECT" name="subject" ng-model="inp.subject" required/>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div >
                           <span class="block input-icon input-icon-right">
                                <textarea class="form-control" placeholder="GIVE US SOME FEEDBACK" name="content" ng-model="inp.content" required></textarea>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                            <div ngf-drop ngf-select="uploadFiles($files, $invalidFiles)" ng-model="files"  class="drop-box" 
                                ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                                accept="image/*,application/pdf,.*" 
                                ngf-pattern="'image/*,application/pdf,video/*,.*'">
                                <p class="center">Drag & Drop files here</p>
                                <p class="center">or</p>
                                <p class="btn_select center">Select Files</p>

                  
                          </div>
                     
                          <ul class="list_attach">
                            <li ng-repeat="f in listFiles">
                               {{f.name}}  
                            
                              <a class="remove_file" ng-click="removeFile(f)">x</a> 
                              <span class="progess" ng-bind="f.progress + '%'"></span>
                              <br/>{{f.$error}} {{f.$errorParam}}
                            </li>
                          </ul>
                  
                     </div>
                    <div class="form-group">
                       <div class="raido_box"><input type="radio" ng-checked="true" ng-value="0"
 class="form-control radio" name="is_public" value="0" ng-model="inp.is_public" > <span>Make Post Private</span></div>
                       <div class="raido_box"> <input type="radio" class="form-control radio" name="is_public" value="1" ng-model="inp.is_public"> <span>Make Post Public</span></div>
                        <div class="raido_box"> <input type="checkbox" class="form-control checkbox" name="allow_comment" value="1" ng-model="inp.allow_comment"> <span>Allow Engagement</span></div>
                    </div>
                    <div class="clearfix">
                        <div class="row">
                            <button type="submit" class="width-35 center btn btn-sm btn-primary btn-gold " ng-click="doSubmit(inp)" data-ng-disabled="feedbackForm.$invalid">SUBMIT</button>
                        </div>
                    </div>
                      
              
                </form>
         </div>
         <div class="col-sm-5">
             <div class="last_feedback by_depart">
               <h3>LATEST FEEDBACK</h3>
                <div class="feedback-item" ng-repeat="fb in lastfeedbacks.agency">
                  <a ng-click="openLightBox(fb)" ng-controller="allfbCtrl as vm"><p><strong>{{fb.subject}}</strong></p></a>
                  <p>{{fb.content | cut:true:100 }}<a  ng-click="openLightBox(fb)" ng-controller="allfbCtrl as vm"> Continute</a></p>
                  <p>{{fb.name}} - {{fb.create_date|datetime}}</p>
                  <ul class="feedback_toolbar">
                  <li><a class="feedbacklike" ng-click="fbLike(fb)" ><img src="images/like.png"></a> <span id="fblike_count_50" ng-show="fb.usr_like > 0">{{fb.usr_like}}</span> Agree</li>
                  <li><a class="feedbackdislike" ng-click="fbDisLike(fb)"><img src="images/dislike.png"></a> <span id="fbdislike_count_50" ng-show="fb.usr_dislike > 0">{{fb.usr_dislike}}</span> Disagree</li>
                  </ul>
                </div>
  
              <a href="#allfeedbacks" class="button fb_viewall">SEE ALL FEEDBACK</a>
              </div>
         </div>
   
</div><!-- /position-relative -->
</div>
</div><!-- /.page-content -->