<div class="row">
        <div class="admin_menu feedback_menu">
            <ul>
                <li><a href="#anonymous">Anonymous</a></li>
                <li><a href="#department">By Deparment</a></li>
                <li><a href="#agency">By Agency Goal</a></li>
            </ul>
        </div>
</div>  
<div class="row">
	<div class="filter">
		<div class="col-md-1">
			<span class="text_fillter">Filter by</span>
		</div>
		<div class="col-md-3">
			 <select ng-change="changeDepartment()" name="department_id" ng-init="inp.department_id=-1" 
  				ng-model="inp.department_id" class="form-control" required>
               <option value="-1" selected="selected">All Department</option>
              <option ng-repeat="f in categories.department" value={{f.id}}>{{f.name}}</option>
                                  
            </select>
		</div>
		<div class="col-md-3">
			 <select ng-change="changeAgency()" name="agency_id" ng-init="inp.agency_id=-1" 
  				ng-model="inp.agency_id" class="form-control" required>
               <option value="-1" selected="selected">All Agency</option>
              <option ng-repeat="f in categories.agency" value={{f.id}}>{{f.name}}</option>
                                  
            </select>
		</div>
		<div class="col-md-2 col-link">
			<a ng-click="changeAnonymoust()"><span class="text_fillter">Anonymous</span></a>
		</div>
		<div class="col-md-3 col-search">
			<form   ng-submit="onSearchSubmit()">
				<input type="text" class="form-control" placeholder="Search..." name="keyword" ng-model="inp.keyword"  />
			</form>
		</div>
	</div>
</div>

<div class="page-content allfeedback">

<div class="row">
<div class="space-6"></div>
<div class="col-sm-12 ">
      <div class="allfeedbacks">
      	<h3>All Feedback Submitted</h3>
      	<div class="fb-item"  ng-repeat="fb in pagedItems">
      		<img src="images/icon.png">
      		<div class="fb-info">
      			<p>{{fb.subject}}</p>
      			<p class="datetime">submitted {{fb.create_date | datetime}}  by {{fb.name ? fb.name:"Anonymous"}}</p>
      		</div>
      	</div>
      	<div class="fb-item" ng-hide="pagedItems.length">
      		<p>No Feedback.</p>
      	</div>
      	

      	<a ng-show="showMore" class="button" ng-click="loadMore()">LOAD MORE ...</a>
      </div>   
</div><!-- /position-relative -->
</div>
</div><!-- /.page-content -->