<div class="page-content">
    <div class="row">
       <div class="summary">
            <h4>Ticket Summary</h4>
            <div class="col-sm-3 gray-box">
                <p>Anonymous</p>
                <h5>{{summary.anonymous}}</h5>
            </div>
            <div class="col-sm-3 gray-box">
                <p>By Deparment</p>
                <h5>{{summary.deparment}}</h5>
            </div>
            <div class="col-sm-3 gray-box">
                <p>By Agency Goal</p>
                <h5>{{summary.agency}}</h5>
            </div>
            <div class="col-sm-3 gray-box">
                <p>Comments</p>
                <h5>{{summary.comments}}</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="recent">
        <h4>Recent Activity</h4>
            <div class="item" ng-repeat="post in posts">
                <img src="images/icon.png">
                <div class="info">
                    <p><strong>{{post.name ? post.name:"Anonymous"}}</strong> - {{post.content | cut:true:100}}</p>
                    <p class="datetime">{{post.create_date | fulldatetime}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->