<div class="row">
	<div class="filter">
		<div class="col-md-1 col-text-search">
			<span class="text_fillter">Search</span>
		</div>
		
		<div class="col-md-3 col-search pull-right">
			<form   ng-submit="onSearchSubmit()">
				<input type="text" class="form-control" placeholder="Search..." name="keyword" ng-model="inp.keyword"  />
			</form>
		</div>
	</div>
</div>
<form name="signupForm" class="form-horizontal" role="form">
<div class="row">
	<div class="bar-header clearfix">
		<div class="col-md-12">
			<h4 class="pull-left">Edit User</h4>
			<div class="pull-right">
				<div class="cs_button">
					<a class="normal_button" href="#admin/users">Cancel</a>
					
					<button type="submit" class="normal_button" data-ng-disabled="signupForm.$invalid" ng-click="updateUser(user)" />Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row user_info_form">
	
			<div class="col-md-3">
				<div class="row">
					<div class="upload_box">
						<div class="upload_profile">
							<img ng-show="user.profile_image" src="attachs/{{user.profile_image}}" />
						</div>
						<button ngf-select="uploadProfile($files, $invalidFiles)" multiple
					          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
					      Add Photo</button>
						<p>A Profile image of the person, it's
				best if the picture has the same
				length and height</p>
					</div>
				</div>
			</div>

			<div class="col-md-9">
				<h4 class="uheader">User Information</h4>

				<div class="form-group">
					<label class="col-left">Full Name</label>
					<div class="col-right">
						<input type="text" class="form-control" placeholder="Name" name="name" 
						ng-model="user.name" required  />
						<span ng-show="signupForm.name.$error.name" class="help-inline">Name required field</span> 
					</div>
				</div>

				<div class="form-group">
					<label class="col-left">Email</label>
					<div class="col-right">
						<input type="text" class="form-control" placeholder="Email" ng-model="user.email" required />
						<span ng-show="signupForm.email.$error.email" class="help-inline">Email is not valid</span> 
					</div>
				</div>
			

				<div class="form-group">
					<label class="col-left">Title</label>
					<div class="col-right">
						<input type="text" class="form-control" placeholder="Title" name="title" ng-model="user.title" required />
					</div>
				</div>

				<div class="form-group">
					<label class="col-left">Phone No.</label>
					<div class="col-right">
						<input type="text" class="form-control" placeholder="Phone" name="phone" ng-model="user.phone" required />
					</div>
				</div>

				<div class="form-group">
					<label class="col-left">Role</label>
					<div class="col-right">
						<select class="form-control" ng-model="user.role" ng-init="user.role">
							<option value="0">Admin</option>
							<option value="1">Manager</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-left">Group</label>
					<div class="col-right">
						<select class="form-control"  ng-model="user.group_id" ng-init="4">
							<option value="0" {{user.group_id==0 ? " selected=true"}}>Anonymous</option>
							<option value="0" disabled>Departments</option>
							<option value="{{cat.id}}" {{user.group_id==cat.id ? " selected=true"}} ng-repeat="cat in categories.department">--- {{cat.name}}</option>
							<option value="0" disabled>Agency Global</option>
							<option  value="{{cat.id}}" {{user.group_id==cat.id ? " selected=true" ng-repeat="cat in categories.agency">--- {{cat.name}}</option>
						</select>
					</div>
				</div>
				<div class="seperate"></div>
				<h4 class="uheader">Change Password</h4>
				<div class="form-group">
					<label class="col-left">Current Password</label>
					<div class="col-right">
						<input type="password" class="form-control" placeholder="Current Password" name="currentPass" ng-model="currentPass"  />
					</div>
				</div>
				<div class="form-group">
					<label class="col-left">New Password</label>
					<div class="col-right">
						<input type="password" class="form-control" placeholder="New Password" name="newPass" ng-model="newPass"  />
					</div>
				</div>
				<div class="form-group">
					<label class="col-left">Confirm Password</label>
					<div class="col-right">
						<input type="password" class="form-control" placeholder="Confirm Password" name="confirmPass" ng-model="confirmPass"  />
					</div>
				</div>
			</div>

</div>
</form>