
<div class="row">
	<div class="filter">
		<div class="col-md-1 col-text-search">
			<span class="text_fillter">Search</span>
		</div>
		
		<div class="col-md-3 col-search pull-right">
			<form   ng-submit="onSearchSubmit()">
				<input type="text" class="form-control" placeholder="Search..." name="keyword" ng-model="inp.keyword"  />
			</form>
		</div>
	</div>
</div>

<div class="row">
		<div class="col-md-8">
			<div class="fbdetail">
				<div class="fbbox">
					<img src="images/name/{{fbitem.name | iconname}}" class="pull-left">
					<div class="fbleft" class="pull-left">
						<div class="fbcontent grey-gold border">
							<p class="subject">{{fbitem.subject}}</p>
							<p class="username">by {{fbitem.name}}</p>
							<p>{{fbitem.content}}</p>
						</div>

						<div class="attachment">
							<p class="grey">2 Attachments</p>
							<div class="files">
								<div class="atfile" ng-repeat="file in fbitem.attach_files">
								<a href="attachs/{{file}}">{{file}}</a>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="fbbox"  ng-repeat="fbc in fbcomments">
					<img src="images/name/{{fbc.name | iconname}}" class="pull-left">
					<div class="fbleft" class="pull-left">
						<div class="fbcontent grey-gold border">
							<p class="subject bold">{{fbc.name}} - {{fbc.create_date | fulldatetime}}</p>
							<p>{{fbc.comment}}</p>
						</div>
					</div>
				</div>
				<div class="fbbox">
					<center>
						<a ng-show="totalPage > cPage" class="button bt_loadmore" ng-click="moreCM()">LOAD MORE ...</a>
					</center>
				</div>
				<div class="fbbox">
					<div class="fbleft" class="pull-left">
						<div class="fbcontent grey-gold border">
							<p class="black">Add a comment</p>
							<textarea required ng-model="comment" class="form-control fbinput"></textarea>
							<button ng-click="postComment()" class="button bt-green pull-right">POST</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="col-fb-info">
				<h4>Feedback Info</h4>
				<div class="uinfo">
					<img src="images/name/{{fbitem.name | iconname}}" class="pull-left" >
					<div class="pull-left">
						<p class="uname">{{fbitem.name}}</p>
						<p class="datetime">{{fbitem.create_date | fulldatetime}}</p>
						<p class="category">{{fbitem.catId}}</p>
					</div>
				</div>
				<div class="finfo" ng-if="fbitem.usr_approve">
					<p class="title">Published on:</p>
					<p class"datetime">{{fbitem.approve_date | fulldatetime}}</p>	
					<p class="title">Published by:</p>
					<p class"datetime">{{fbitem.username}}</p>	
				</div>
				<div class="finfo">
					<p class="title">Publish</p>
					<select class="form-control" ng-model="fbitem.is_approve" >
						<option value="1">Yes</option>
						<option value="0">No</option>
					</select>

					<p class="title">Allow Comments</p>
					<select class="form-control" ng-model="fbitem.allow_comment">
						<option value="1">Yes</option>
						<option value="0">No</option>
					</select>
					<button ng-click="update()" class="button bt-green">Update</button>
				</div>
			
       		 </div>
		</div>
		
</div>