
<div class="row">
	<div class="filter">
		<div class="col-md-1 col-text-search">
			<span class="text_fillter">Search</span>
		</div>
		
		<div class="col-md-3 col-search pull-right">
			<form   ng-submit="onSearchSubmit()">
				<input type="text" class="form-control" placeholder="Search..." name="keyword" ng-model="inp.keyword"  />
			</form>
		</div>
	</div>
</div>

<div class="row">
		<div class="col-md-8">
			<div class="fbdetail">
				<div class="fbbox">
					<img src="images/icon.png" class="pull-left" />
					<div class="fbleft" class="pull-left">
						<div class="fbcontent grey-gold border">
							<p class="subject">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<p class="username">by Maaby Diaz R.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend sapien nec commodo rutrum. Proin dolor ipsum, cursus vel auctor nec, sagittis ut erat. Vivamus aliquam at mauris et scelerisque. Fusce efficitur auctor felis. Nulla maximus arcu eu mauris rutrum hendrerit. Proin facilisis hendrerit felis, non commodo tellus dictum eget.</p>
						</div>

						<div class="attachment">
							<p>2 Attachments</p>
							<div class="files">
								<a>Example 1#<br/>
									(1024MB)</a>
								<a>Example 1#<br/>
									(1024MB)</a>
							</div>
						</div>
					</div>
				</div>
				<div class="fbbox">
					<img src="images/icon.png" class="pull-left" />	
					<div class="fbleft" class="pull-left">
						<div class="fbcontent grey-gold border">
							<p class="subject bold">Admin Name - Comment 7 days ago. (Tue, Jan 26 at 5:14 PM)</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend sapien nec commodo rutrum. Proin dolor ipsum, cursus vel auctor nec, sagittis ut erat. Vivamus aliquam at mauris et scelerisque. Fusce efficitur auctor felis. Nulla maximus arcu eu mauris rutrum hendrerit. Proin facilisis hendrerit felis, non commodo tellus dictum eget.</p>
						</div>
					</div>
				</div>
				<div class="fbbox">
					<div class="fbleft" class="pull-left">
						<div class="fbcontent grey-gold border">
							<p class="black">Add a comment</p>
							<textarea class="form-control fbinput"></textarea>
							<button class="button bt-green pull-right">POST</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="col-fb-info">
				<h4>Feedback Info</h4>
				<div class="uinfo">
					<img src="images/icon.png" class="pull-left" />
					<div class="pull-left">
						<p class="uname">Donald Cody</p>
						<p class="datetime">Monday, Jan 26 @ 1:17 PM</p>
						<p class="category">Category Name</p>
					</div>
				</div>
				<div class="finfo">
					<p class="title">Published on:</p>
					<p class"datetime">Monday, Jan 26 @ 1:17 PM</p>	
					<p class="title">Published by:</p>
					<p class"datetime">Donald Cody</p>	

					<p class="title">Publish</p>
					<select class="form-control">
						<option value="1">Yes</option>
						<option value="0">No</option>
					</select>

					<p class="title">Allow Comments</p>
					<select class="form-control">
						<option value="1">Yes</option>
						<option value="0">No</option>
					</select>
					<button class="button bt-green">Update</button>
				</div>
			
       		 </div>
		</div>
		
</div>