
<div class="row">
	<div class="filter">
		<div class="col-md-1 col-text-search">
			<span class="text_fillter">Search</span>
		</div>
		
		<div class="col-md-3 col-search pull-right">
			<form   ng-submit="onSearchSubmit()">
				<input type="text" class="form-control" placeholder="Search..." name="keyword" ng-model="inp.keyword"  />
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="box_setting">
			<h4>Settings</h4>
			<div class="iconbox">
				<a href="#admin/users"><img src="images/user.jpg" /></a>
				<a href="#admin/groups"><img src="images/fblist.jpg" /></a>
				<a href="#admin/fblist"><img src="images/notification.jpg" /></a>
			</div>
		</div>
	</div>
</div>